@page "/"
@using BlazingTrails.Shared.Contracts
@inject IMediator Mediator

<PageTitle>Blazing Trials</PageTitle>

<TrailSearch />

<div class="mb-4">
    <p class="font-italic text-center">
        Do you have an awesome trail you'd like to share with others? <a href="add-trail">Add it here</a>. 
    </p>
</div>

<TrailCollection Trails="_trails" />

@code {
    private IEnumerable<Trail>? _trails { get; set; }
    
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Mediator
                .Send(new GetTrailsRequest());
            _trails = response.Trails.Select(t => t.Adapt<Trail>()).ToList();
        }
        catch (HttpRequestException)
        {
        }
    }
}