@page "/"
@inject ITrailsService TrailsService;

<PageTitle>Blazing Trials</PageTitle>

@if (_trails is null)
{
    <p>Loading trails...</p>
}
else
{
    <div class="grid">
        @foreach (var trial in _trails)
        {
            <TrailCard Trail="trial"/>
        }
    </div>
}

@code {

    private IEnumerable<Trail>? _trails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _trails = await TrailsService.GetAllTrailsAsync();
        }
        catch (HttpRequestException)
        {
        }
    }
}