@page "/"
@using BlazingTrails.Shared.Contracts
@inject IMediator Mediator

<PageTitle>Blazing Trials</PageTitle>

<TrailSearch />
@if (_trails is null)
{
    <p>Loading trails...</p>
}
else
{
    <TrailDetails Trail="_selectedTrail"/>
    <div class="grid">
        @foreach (var trial in _trails)
        {
            <TrailCard Trail="trial" OnSelected="HandleTrailSelected"/>
        }
    </div>
}

@code {

    private IEnumerable<Trail>? _trails;
    private Trail? _selectedTrail;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Mediator
                .Send(new GetTrailsRequest());
            _trails = response.Trails
                .Select(t => new ViewModels.Trail
                {
                    Id = t.Id,
                    Name = t.Name,
                    Image = t.Image,
                    Description = t.Description,
                    Location = t.Location,
                    LengthKm = t.Length,
                    Route = Array.Empty<RouteInstruction>(),
                    TimeInMinutes = t.TimeInMinutes
                });
        }
        catch (HttpRequestException)
        {
        }
    }

    private void HandleTrailSelected(Trail trail) 
        => _selectedTrail = trail;
}