@inject NavigationManager NavManager

<div class="filters">
    <label for="maxLength">Max Length</label>
    <input id="maxLength"
           type="number"
           class="form-control"
           @bind="_maxLength" />
    <label for="maxTime">Max time (hours)</label>
    <input id="maxTime"
           type="number"
           class="form-control"
           @bind="_maxTime" />
    <button class="btn btn-outline-primary"
            @onclick="FilterSearchResult">
        Filter
    </button>
    <button class="btn btn-outline-secondary"
            @onclick="ClearSearchFilter">
        Clear
    </button>
</div>

@code {
    private int? _maxLength;
    private int? _maxTime;

    [Parameter, EditorRequired]
    public string SearchTerm { get; set; } = default!;

    private void FilterSearchResult()
    {
        Dictionary<string, object?> queryParams = new();
        if (_maxLength.GetValueOrDefault(0) != 0)
        {
            queryParams[nameof(SearchPage.MaxLength)] = _maxLength;
        }
        if (_maxTime.GetValueOrDefault(0) != 0)
        {
            queryParams[nameof(SearchPage.MaxTime)] = _maxTime;
        }
        var uri = NavManager.GetUriWithQueryParameters(queryParams);
        NavManager.NavigateTo(uri);
    }

    private void ClearSearchFilter()
    {
        _maxLength = 0;
        NavManager.NavigateTo($"/search/{SearchTerm}");
    }

}